In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.pylab import rcParams
rcParams['figure.figsize'] =15,9

In [3]:
df = pd.read_csv('Queens_1Year_Raw.csv')

In [5]:
df.tail()

           ArrivalTime DepartureTime
783902  12/31/17 23:15   1/1/18 0:00
783903  12/31/17 23:45   1/1/18 0:00
783904  12/31/17 23:51   1/1/18 0:00
783905  12/31/17 23:54   1/1/18 0:00
783906  12/31/17 23:58   1/1/18 0:00

In [6]:
df['start_time'] = pd.to_datetime(df.ArrivalTime).astype('datetime64[s]')
df['end_time'] = pd.to_datetime(df.DepartureTime).astype('datetime64[s]')
df['start_from_fc']= df.start_time.dt.floor('5min')
df['end_from_fc'] = df.end_time.dt.ceil('5min')